.preload {
  transition: none !important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}
.checkmark {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 3px solid #ccc;
  transition: border-color 0.5s, width 0.5s, transform 0.5s;
}

.container input:checked ~ .checkmark {
  border-top-color: transparent;
  border-left-color: transparent;
  width: 20px;
  transform: rotate(30deg);
}
.cb {
  display: flex;
  align-items: center;
  justify-content: center;
}
