.c {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wra {
  position: relative;
  display: flex;
  height: 50px;
  width: 320px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
  cursor: text;
  justify-content: center;
  align-items: center;
}
input {
  cursor: text;
  border: 0;
  position: relative;
  background: transparent;
  width: 320px;
  height: 100%;
  font-size: 18px;
  padding-left: 5px;
  z-index: 1;
}
.placeholder {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 5px;
  transition: top 0.2s, transform 0.2s, z-index 0s;

  background-color: #a2e8dd;
  padding: 5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}
input:focus + .placeholder {
  top: -30%;
  transform: scale(0.9);
}
