* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  outline: none;
  box-sizing: border-box;
}
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7vh;
  background-color: #121117;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
  letter-spacing: 5px;
  z-index: 1;

  a {
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      color: ghostwhite;
    }
  }
}
.scroll {
  @import url("slider.css");
  position: relative;
  width: 100%;
  background-color: #4f5d75;
}
.cb {
  @import url("checkbox.css");
  background-color: #2d3142;
  width: 100%;
}

.back {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.navbar {
  @import url("navbar.css");
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfc0c0;
}
.mater {
  @import url("material.css");
  width: 100%;
  background-color: #ffffff;
}
.nn {
  @import url("navbarn.css");
  width: 100%;
  display: flex;
  background: #69bdd2;
  justify-content: center;
  align-items: center;
}
.hl {
  @import url("highlight.css");
  width: 100%;
  display: flex;
  background: #627c85;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .scroll,
  .cb,
  .navbar,
  .mater,
  .hl,
  .nn {
    min-width: 100vw;
    min-height: 100vh;
  }

  .contain,
  .nn {
    width: 50vw;
  }
  .back {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
}
